#wrapper {
	height: 600px;
	width: 649px;
	background-color: grey;
	}
#header {
	display: inline-block;
	height: 50px;
	width: 610px;
	margin: 20px;
	}
#header h1 {
	display: inline;
	}
.headerimage1 {
	width: 160px;
	display: inline-block;
	}
.headerimage1 img {
	height: 50px;
	width: 100px;
	background-color: white;
	float: right;
	}
.headerimage2 {
	width: 160px;
	display: inline-block;
	}
.headerimage2 img {
	height: 50px;
	width: 100px;
	background-color: white;
	align: left;
	}
#row {
	margin: 0px 25px 0px 25px;
	}
.blue {
	height: 110px;
	width: 110px;
	display: inline-block;
	background-color: blue;
	border-color: black;
	border-style: solid;
	}
.red {
	height: 110px;
	width: 110px;
	display: inline-block;
	background-color: red;
	border-color: black;
	border-style: solid;
	}
.blue img {
	height: 90px;
	width: 90px;
	display: block;
	margin: auto;
	padding: 10px;
	}
.red img {
	height: 90px;
	width: 90px;
	display: block;
	margin: auto;
	padding: 10px;
	}
	